@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
$praimeryColor: #007f62;
@mixin none {
  display: none;
}

body {
  direction: rtl;
}

.navbar {
  direction: ltr;
  height: 80px;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
  background-color: #ffffff;
}
.header {
  .logo {
    height: 165px;
    background-image: url(../img/009_logo_Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    color: $praimeryColor;

    img {
      width: 72px;
      height: 72px;
    }
  }
}
.nav {
  height: 100px;
  font-size: 11px;
}
.icon {
  display: flex;
  justify-content: space-between;
  button {
    width: 80px;
    height: 40px;
    margin-top: 27px;
    margin-right: 12px;
    border-radius: 20px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    color: white;
  }
  img {
    width: 71%;
    position: absolute;
    left: 0;
  }
}

.section1 {
  height: 500px;
}

.section2 {
  height: 800px;

  .waves1 {
    height: 272px;
    // position: absolute;
    background-image: url(../img/011_bg_wave.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row {
    .iconScroll{
      .icon{
        
      }
    }
    .phonMakeup {
      width: 300px;
      height: 587px;
      background-image: url(../img/mobile.png);
      background-size: cover;
    }
  }
}

@media(min-width:700px){
    html{
    background-color: greenyellow;
    }
}




// @media (min-width: 768px) and (max-width: 991.98px) {
//   .icon {
//     margin-top: 80px;
//   }
// }

// @media (max-width:768px ){
//   .nav, .icon{
//   display: none;
//   }
//   .header{
//     flex-direction: column;
//   }
// }
