@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
$praimeryColor: #007f62;
@mixin none {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  direction: rtl;
  // overflow-x:hidden ;
}
.spinner{
 
  display: block;
}
.spinner-grow{
  color:hsl(166, 96%, 33%) ;
  height: 250px;
  width: 250px;

}

.navbar {
  direction: ltr;
  // height: 80px;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
  background-color: #ffffff;
}

.header {
  .logo {
    min-height: 100px;
    min-width: 306px;
    // background-image: url(../img/009_logo_Bg.png);
    // background-size: cover;
    // background-size: 300px 150px;
    // background-repeat: no-repeat;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    color: $praimeryColor;
    .camel {
      width: 72px;
      height: 72px;
      img {
        height: 100%;
      }
    }
  }
}
.nav {
  height: 100px;
  font-size: 11px;
  button {
    width: 80px;
    height: 40px;
    margin-right: 12px;
    border-radius: 20px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    color: white;
  }
  button:hover {
    color: white;
  }
}
.icon {
  display: flex;
  justify-content: space-between;

  img {
    width: 71%;
    position: absolute;
    left: 0;
  }
}

.section1 {
  .text {
    .textContainer {
      span {
        color: $praimeryColor;
        border-bottom: 3px solid $praimeryColor;
        padding-bottom: 10px;
      }
      h2 {
        color: $praimeryColor;
        padding-bottom: 30px;
      }
      p {
        direction: rtl;
        padding-top: 30px;

        width: 288px;
        height: 113px;
        font-family: Shabnam-FD;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
      }
    }
  }
  .backgrand {
    display: flex;
    justify-content: flex-end;
    // padding: 50px ;
  }
}

.section2 {
  .waves1 {
    height: 272px;
    // position: absolute;
    background-image: url(../img/011_bg_wave.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row {
    .d-flex {
      overflow-x: scroll;
    }
    .iconScroll {
      overflow-x: scroll;
      .iconsBorders {
        min-width: 72px;
        min-height: 72px;
        border-radius: 50%;
        border: 1px solid $praimeryColor;

        margin: 20px;
        display: flex;
        @include flexCenter();

      }
      .icon1 {
        width: 40px;
        height: 34px;
        opacity: 0.9;
        .icon::before {
          content: "\e90d";
        }
      }
      .icon2 {
        width: 21px;
        height: 40px;
      }
      .icon3 {
        width: 40px;
        height: 24px;
      }
      .icon4 {
        width: 40px;
        height: 40px;

        background-color: #ffffff;
      }
      .icon5 {
        width: 39px;
        height: 39px;
      }
      .icon6 {
        width: 40px;
        height: 37px;
      }
    }   
     .asd2{

      .iconsBorders {
        min-width: 72px;
        min-height: 72px;
        border-radius: 50%;
        border: 1px solid $praimeryColor;

        margin: 20px;
        display: flex;
        @include flexCenter();

      }
      .icon1 {
        width: 40px;
        height: 34px;
        opacity: 0.9;
        .icon::before {
          content: "\e90d";
        }
      }
      .icon2 {
        width: 21px;
        height: 40px;
      }
      .icon3 {
        width: 40px;
        height: 24px;
      }
      .icon4 {
        width: 40px;
        height: 40px;

        background-color: #ffffff;
      }
      .icon5 {
        width: 39px;
        height: 39px;
      }
      .icon6 {
        width: 40px;
        height: 37px;
      }
    }

    .phonMakeupfather {
      @include flexCenter();
      .phonMakeup {
        width: 300px;
        height: 587px;
        background-image: url(../img/mobile.png);
        background-size: cover;
      }
    }
    .text2 {
      // align-items: center;
      h2 {
        color: $praimeryColor;
        width: 308px;
        height: 27px;
        font-family: Shabnam-FD;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.75px;
        text-align: left;
      }
      p {
        padding-right: 46px;
        width: 309px;
        height: 113px;
        font-family: Shabnam-FD;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: justify;
        color: #000000;
      }
    }
  }
}

.section3 {
  @include flexCenter();

  .row {
    margin: 5px;
    width: 1170px;
    border-radius: 30px;
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;

    .downlodIcondiv {
      @include flexCenter();
    }

    .informtion {
      display: flex;
      flex-direction: column;
      h2 {
        padding: 47px 0;
        font-family: Shabnam-FD;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $praimeryColor;
      }
      p {
        padding: 18px 0;
        font-family: Shabnam-FD;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
      .inputButton {
        border-radius: 25px;
        border: solid 1px #eeeeee;
        background-color: #fafafa;
        input {
          width: 100%;
          height: 100%;
          border-radius: 25px;
          background-color: #fafafa;
          border: none;
          outline: none;
          margin-bottom: 21px;
        }
        button {
          width: 140px;
          height: 50px;
          border-radius: 25px;
          box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
          background-image: linear-gradient(to top, #e35325, #ff8a65);
          color: white;
          border: none;
          outline: none;
        }
      }
      p {
        font-family: Shabnam-FD;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
      .buttons {
        padding-right: 64px;
        // transform: translateY(25px);// transform: translateY(25px);

        .btn1 {
          width: 160px;
          height: 50px;
          border-radius: 25px;
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          background-image: linear-gradient(to top, #00a680, #00f4bd);
          outline: none;
          color: white;
          border: none;
        }
        .btn2 {
          width: 160px;
          height: 50px;
          border-radius: 25px;
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          background-image: linear-gradient(to top, #00a680, #00f4bd);
          outline: none;
          color: white;
          border: none;
        }
        .btn3 {
          width: 160px;
          height: 50px;
          border-radius: 25px;
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          background-image: linear-gradient(to top, #00a680, #00f4bd);
          outline: none;
          color: white;
          border: none;
        }
      }
    }
  }
}

// .section4{
//   img{
//     background-image: url(../img/023_amadegisafar.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;

//   }
// }

.section5 {
  .text {
    h2 {
      font-family: Shabnam-FD;
      font-size: 24px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $praimeryColor;
    }

    span {
      font-family: Shabnam-FD;
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: justify;
      color: #000000;
    }
  }
  .imgScroll {
    overflow-x: scroll;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;

    img {
      border-radius: 12px;
      box-shadow: 5px 5px 20px rgb(199, 199, 199);
      width: 221.9px;
      height: 157px;

      margin-right: 20px;
    }
    img:nth-child(1) {
      margin-right: 30px;
    }
  }
}

@media (min-width: 1032px) {
  .text {
    width: 100wh;
  }
  .section3 {
    background-image: url(../img/019_dlbox_Bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.section6 {
  .col {
    background-color: #e1fff8;
    @include flexCenter();
    flex-direction: column;
    .textContainer2 {
      @include flexCenter();
      flex-direction: column;

      p {
        height: 17px;
        font-family: Shabnam-FD;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
      .buttonInput {
        width: 410px;
        height: 50px;
        padding: 0px;
        border-radius: 25px;
        box-shadow: 0px 4px 20px 0 rgba(0, 88, 67, 0.17);
        background-color: #ffffff;
        outline: none;
        color: #9e9e9e;
        input {
          // padding:  5px 5px 5px 5px;
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          outline: none;
          border-radius: 25px;
          border: none;
          color: #9e9e9e;
        }
        button {
          width: 140px;
          height: 100%;
          border: none;
          border-radius: 25px;
          background-image: linear-gradient(to top, #e35325, #ff8a65);
          outline: none;
        }
      }
    }
.footerBg{
  width: 100%;
  height: 240px;
  background-image: url(../img/025_footer_Bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  }
}
c1 {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .section6 .col .textContainer2 .buttonInput{
    width: 313px;
  }
}




@media (min-width: 768px) {
  body {
    // background-color: greenyellow;
  }
  .section1.text {
    padding-top: 67px;
    margin-right: 25px;
  }
  .textContainer {
    position: absolute;
    // margin-right: 195px;
  }
  .section6 .col {
    background-color: #ffffff;
  }
  .section5 .text .span {
    width: 902px;
  }
  .sction6 p {
    width: 744px;
  }
}

@media (min-width: 1000px) {
  .buttons {
    transform: translateY(35px);
    button {
      margin-bottom: 10px;
    }
  }
}
@media (max-width:1193px){
  .buttons {  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;}
}
@media(min-width:984px){
.asd2{
  display: none;
}
}